* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #444;
  font-family: 'PT Sans', sans-serif;
}

.wrapper {
  padding: 15px;
  margin: 0 auto;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -7.5px;
}

.card-wrapper {
  width: calc(100% / 6);
  padding: 0 7.5px 15px 7.5px;
  display: flex;
}

.card {
  background-color: white;
  width: 100%;
  /* Height is set to be equal to width with JS */
  padding: 25px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  transition: transform 0.1s, box-shadow 0.1s;
  color: #444;
}

.card:hover,
.card:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.headline {
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
}



/* SVG */
.svg-icon {
  fill: #555;
}

.svg-inner-shadow {
  filter: url(#inner-shadow);
}

.card:hover .blue,
.card:focus .blue   { fill: url(#gradient-blue); }

.card:hover .blue2,
.card:focus .blue2  { fill: url(#gradient-blue2); }

.card:hover .blue3,
.card:focus .blue3  { fill: url(#gradient-blue3); }

.card:hover .purple,
.card:focus .purple { fill: url(#gradient-purple); }

.card:hover .pink,
.card:focus .pink   { fill: url(#gradient-pink); }

.card:hover .pink2,
.card:focus .pink2  { fill: url(#gradient-pink2); }

.card:hover .red,
.card:focus .red { fill: url(#gradient-red); }

.card:hover .yellow,
.card:focus .yellow { fill: url(#gradient-yellow); }

.card:hover .green,
.card:focus .green  { fill: url(#gradient-green); }

.card:hover .green2,
.card:focus .green2 { fill: url(#gradient-green2); }



/* RESPONSIVE SIZING */
.wrapper { max-width: 1500px; }

/* Large content size */
.headline { font-size: 30px; }
.svg-icon { width: 120px; height: 100px; }

@media (max-width: 1340px) {
  .wrapper { max-width: 1270px; }
  /* Normal content size */
  .headline { font-size: 26px; }
  .svg-icon { width: 110px; height: 90px; }
}

@media (max-width: 1210px) {
  /* Small content size */
  .headline { font-size: 22px; }
  .svg-icon { width: 100px; height: 80px; }
}

@media (max-width: 1080px) {
  .card-wrapper { width: calc(100% / 4); }
  .wrapper { max-width: 900px; }

  /* Normal content size */
  .headline { font-size: 26px; }
  .svg-icon { width: 110px;  height: 90px; }
}

@media (max-width: 850px) {
  /* Small content size */
  .headline { font-size: 22px; }
  .svg-icon { width: 100px; height: 80px; }
  .wrapper {
    padding: 10px !important;
  }

  .card-wrapper {
    padding: 0 5px 10px 5px;
  }
}

@media (max-width: 740px) {
  .card-wrapper { width: calc(100% / 3); }
  .wrapper { max-width: 680px; }
  .card { padding: 25px 15px; }

  /* Normal content size */
  .headline { font-size: 26px; }
  .svg-icon { width: 110px;  height: 90px; }
}

@media (max-width: 630px) {
  /* Small content size */
  .headline { font-size: 22px; }
  .svg-icon { width: 100px; height: 80px; }
}

@media (max-width: 550px) {
  /* Tiny content size */
  .headline { font-size: 20px; }
  .svg-icon { width: 80px; height: 60px; }
}

@media (max-width: 490px) {
  .card-wrapper { width: calc(100% / 2); }

  /* Large content size */
  .headline { font-size: 30px; }
  .svg-icon { width: 120px; height: 100px; }
}

@media (max-width: 440px) {
  /* Normal content size */
  .headline { font-size: 26px; }
  .svg-icon { width: 110px;  height: 90px; }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 10px;
  }

  .card-wrapper {
    padding: 0 5px 10px 5px;
  }

  /* Small content size */
  .headline { font-size: 22px; }
  .svg-icon { width: 100px; height: 80px; }
}

@media (max-width: 350px) {
  /* Tiny content size */
  .headline { font-size: 20px; }
  .svg-icon { width: 90px; height: 70px; }
}


/* HEADER */
header .wrapper {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

header {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
}

.brand {
  font-size: 42px;
  line-height: 1;
}

.tagline {
  color: #777;
  font-size: 18px;
}

.logo {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.logo {
  fill: #c91d1d !important;
}

.header-content {
  position: relative;
}

.red-text {
  color: #c91d1d;
  font-weight: bold;
  line-height: 1;
  margin-left: 1px;
}

@media (max-width: 740px) {
  .tagline {
    display: none;
  }

  .red-text {
    font-size: 12px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .brand {
    font-size: 30px;
  }

  /*.header-content {
    display: flex;
    align-items: center;
    top: 0;
  }*/

}


/* MODAL */
/* The Modal (background) */
.modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal {
  background-color: white;
  margin: 10px;
  margin-bottom: 20px;
  max-width: 500px;
  left: 50%;
  margin-left: -250px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.7);
  text-align: center;
  display: none;
}

.modal p {
  margin-bottom: 10px;
}

.modal p:last-child {
  margin-bottom: 0;
}


.modal-header {
  background-color: #f5f5f5;
  /*margin-bottom: 10px;*/
  padding: 10px 20px 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  font-size: 20px;
}

.modal-header:first-child {
  border-radius: 5px 5px 0 0;
}

.modal-content {
  padding: 15px 20px;
  font-size: 20px;
}

@media (max-width: 520px) {
  .modal {
    margin: 10px;
    left: 0;
  }

  .modal-background {
    padding-top: 0;
  }

  .modal-header {
    font-size: 16px;
  }

  .modal-content {
    font-size: 16px;
  }
}


/* The Close Button */
.close {
  color: #777;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 13px;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.open-modal-button {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.open-modal-button svg {
  fill: #555;
  width: 40px;
  height: 40px;
  transition: fill 0.1s;
}

.open-modal-button:hover svg {
  fill: #333;
}

.email-svg {
  margin-top: 10px;
  max-width: 100%;
}

.modal a {
  color: #aa1010;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.modal a:hover {
  border-color: #aa1010;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
